# https://docs.github.com/en/get-started/git-basics/configuring-git-to-handle-line-endings
* text=auto

# all biome files must be LF
*.css text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
